.cart {
    padding: 35px;
    margin-top: 30px; 
    background-color: #fff;
    border-radius: 20px;
}

.cart h2 {
    color: #9ca3af;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 16px 0;
    color: black;
    border-bottom: 1px solid #e5e7eb;

}

.subtotal {
    color: #9ca3af;
}

.cart button {
    background-color: #e11d48;
    padding: 5px 15px;
    border-radius: 10px;
}

.controles {
    display: flex;
    gap: 15px;
    align-items: center;
}

.total {
    font-weight: bold;
    color: #6a6d72;
}
