.product-details {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.product-details img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}

.informacoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 18px;
  color: rgb(124, 47, 47);
}

.informacoes h2 {
  font-size: 36px;
  margin: 0;
  color: rgb(109, 32, 32);
}

.detalhes-coluna-direita {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.rating span{
  font-size: 24px;
}

.acoes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}

.acoes button {
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: background 0.2s;
}

.addCarrinho {
  padding: 12px;
  background: #dc133e;
}

.addCarrinho:hover {
  background: #92072a;;
  cursor: pointer;
}

.voltar {
  padding: 10px;
  background: #e82c54;
}

.voltar:hover {
  background: #be123d;;
  cursor: pointer;
}

.seta {
  font-size: 20px;
  margin-right: 8px;
}
