.app {
  text-align: center;
  background: #f6ade4;
  min-height: 100vh;
  padding: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-container {
  background: #ff69b4;
  padding: 35px;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.header-container p {
  font-size: 1.2rem;
  opacity: 0.9;
}

.header-container h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.busca {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 250px;
}