.app {
  text-align: center;
  background: linear-gradient(180deg, #f8c8dc, #ffffff);
  min-height: 100vh;
  padding: 20px;
}

header {
  background: #ff69b4;
  padding: 20px;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
}
.produtos-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.busca {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  width: 250px;
}